# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

Client/Lerryn.Facade.eShopCONNECT/bin/
Client/Lerryn.Facade.eShopCONNECT/obj/
Client/Lerryn.Presentation.eShopCONNECT/bin/
Client/Lerryn.Presentation.eShopCONNECT/obj/
ClientDeployment/Lerryn.Installer.eShopCONNECT/bin/
ClientDeployment/Lerryn.Installer.eShopCONNECT/obj/
ClientDeployment/Lerryn.InstallerSetup.eShopCONNECT/bin/
ClientDeployment/Lerryn.InstallerSetup.eShopCONNECT/obj/
ClientServer/Lerryn.Business.eShopCONNECT/bin/
ClientServer/Lerryn.Business.eShopCONNECT/obj/
Server/Lerryn.WebSite.eShopCONNECT/bin/
Server/Lerryn.WebSite.eShopCONNECT/obj/
Server/Lerryn.WindowsService.eShopCONNECT/bin/
Server/Lerryn.WindowsService.eShopCONNECT/obj/
Server/Lerryn.WindowsService.eShopCONNECT.UnitTest/bin/
Server/Lerryn.WindowsService.eShopCONNECT.UnitTest/obj/
Shared/Lerryn.Extendable.eShopCONNECT/bin/
Shared/Lerryn.Extendable.eShopCONNECT/obj/
Shared/Lerryn.Framework.eShopCONNECT/bin/
Shared/Lerryn.Framework.eShopCONNECT/obj/
/eShopCONNECT.suo
/eShopCONNECT.v12.suo
/Server/Lerryn.WindowsService.eShopCONNECT.UnitTest/Lerryn.WindowsService.eShopCONNECT.UnitTest.csproj.user
/Client/Lerryn.Facade.eShopCONNECT/Lerryn.Facade.ImportExport.vbproj.user
/DLL/Microsoft.AspNet.SignalR.Client.dll
/DLL/Microsoft.Practices.EnterpriseLibrary.Common.dll
/DLL/Microsoft.Practices.EnterpriseLibrary.Data.dll
/DLL/Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.dll
/DLL/Microsoft.Practices.EnterpriseLibrary.Logging.dll
/DLL/Microsoft.Web.Services3.dll
/DLL/Microsoft.Windows.Design.Extensibility.dll
/DLL/Microsoft.Windows.Design.Extensibility.xml
/DLL/Microsoft.Windows.Design.Interaction.dll
/DLL/Microsoft.Windows.Design.Interaction.xml
/DLL/NetBizCOM.dll
/DLL/NetScanW.dll
/DLL/NetScanWex.dll
/DLL/Newtonsoft.Json.dll
/DLL/nsoftware.InEBank.dll
/DLL/nsoftware.InEBank.System.dll
/DLL/nsoftware.InPay.dll
/DLL/nsoftware.InShip.dll
/DLL/nsoftware.InShip.System.dll
/DLL/ServiceStack.Text.dll
/DLL/SpreadsheetGear.dll
/DLL/TXTextControl.dll
/DLL/TXTextControl.Windows.Forms.dll
/DLL/Lerryn.Presentation.eShopCONNECT.dll.config
/DLL/Lerryn.Presentation.eShopCONNECT.pdb
/DLL/Lerryn.Presentation.eShopCONNECT.xml
/DLL/Lerryn.WindowsService.eShopCONNECT.exe
/DLL/Lerryn.WindowsService.eShopCONNECT.exe.config
/DLL/Lerryn.WindowsService.eShopCONNECT.pdb
/DLL/Lerryn.WindowsService.eShopCONNECT.xml
/DLL/Lerryn.Framework.ImportExport.pdb
/DLL/Lerryn.Framework.ImportExport.dll.config
/DLL/Lerryn.Facade.ImportExport.dll.config
/DLL/Lerryn.Facade.ImportExport.pdb
/DLL/Lerryn.Framework.eShopCONNECT.xml
/DLL/Lerryn.Extendable.ImportExport.pdb
/DLL/Lerryn.Facade.eShopCONNECT.xml
/DLL/Lerryn.Business.ImportExport.pdb
/DLL/Lerryn.Extendable.eShopCONNECT.xml
/DLL/ActiveDatabaseSoftware.ActiveQueryBuilder.dll
/DLL/ActiveDatabaseSoftware.MSSQLMetadataProvider.dll
/DLL/AxInterop.SHDocVw.dll
/DLL/ChilkatDotNet45.dll
/DLL/ConnectedBusinessNetwork.Contracts.CBNContracts.dll
/DLL/HidLibrary.dll
/DLL/Interop.SHDocVw.dll
/DLL/Interprise.Business.Base.dll
/DLL/Interprise.Business.Customer.dll
/DLL/Interprise.Business.Inventory.dll
/DLL/Interprise.Business.ReportCenter.dll
/DLL/Interprise.Business.SystemManager.dll
/DLL/Interprise.Connectivity.Database.Configuration.Design.dll
/DLL/Interprise.Console.Utility.AppConfig.exe
/DLL/Interprise.Extendable.Base.dll
/DLL/Interprise.Extendable.CRM.dll
/DLL/Interprise.Extendable.Customer.dll
/DLL/Interprise.Extendable.ECommerce.dll
/DLL/Interprise.Extendable.Inventory.dll
/DLL/Interprise.Extendable.ReportCenter.dll
/DLL/Interprise.Extendable.Shipping.dll
/DLL/Interprise.Extendable.SystemManager.dll
/DLL/Interprise.Facade.Base.dll
/DLL/Interprise.Facade.CRM.dll
/DLL/Interprise.Facade.Customer.dll
/DLL/Interprise.Facade.ECommerce.dll
/DLL/Interprise.Facade.Inventory.dll
/DLL/Interprise.Facade.ReportCenter.dll
/DLL/Interprise.Facade.Shipping.dll
/DLL/Interprise.Facade.SystemManager.dll
/DLL/Interprise.Facade.Utility.dll
/DLL/Interprise.Facade.Utility.FinalScript.dll
/DLL/Interprise.Facade.Utility.InitialScript.dll
/DLL/Interprise.Framework.Base.dll
/DLL/Interprise.Framework.CRM.dll
/DLL/Interprise.Framework.Customer.dll
/DLL/Interprise.Framework.ECommerce.dll
/DLL/Interprise.Framework.Inventory.dll
/DLL/Interprise.Framework.ReportCenter.dll
/DLL/Interprise.Framework.Shipping.dll
/DLL/Interprise.Framework.SystemManager.dll
/DLL/Interprise.Licensing.Base.dll
/DLL/Interprise.Presentation.Base.dll
/DLL/Interprise.Presentation.Component.dll
/DLL/Interprise.Presentation.Customer.dll
/DLL/Interprise.Presentation.Inventory.dll
/DLL/Interprise.Presentation.ReportCenter.dll
/DLL/Interprise.Presentation.SystemManager.dll
/DLL/Interprise.Presentation.Utility.AppConfig.exe
/DLL/Interprise.Presentation.Utility.PluginManager.exe
/DLL/itextsharp.dll
/DLL/Lerryn.Business.eShopCONNECT.xml
/Server/Lerryn.WindowsService.eShopCONNECT/Lerryn.WindowsService.eShopCONNECT.vbproj.user
/Shared/Lerryn.Extendable.eShopCONNECT/Business
/Shared/Lerryn.Extendable.eShopCONNECT/Facade
/Client/Lerryn.Presentation.eShopCONNECT/Lerryn.Presentation.eShopCONNECT.vbproj.user
/Shared/Lerryn.Framework.eShopCONNECT/Lerryn.Framework.ImportExport.vbproj.user
/Shared/Lerryn.Extendable.eShopCONNECT/Lerryn.Extendable.ImportExport.vbproj.user
/ClientServer/Lerryn.Business.eShopCONNECT/Lerryn.Business.ImportExport.vbproj.user
